@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.App {
  text-align: center;
}

.pageTitle {
  font-family: 'MedievalSharp', cursive;
  font-weight: 50;
}

body {
  background-image: url(https://wallpaperaccess.com/full/2796640.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 10px;
}

.navLink {
  margin: 10px;
  font-size: calc(5px + 1vmin);
  color: white;
}

.partyCard {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 1vh;
  border: black solid 2px;
  color: black;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, .5);
}

.playerCard {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 1vh;
  border: black solid 2px;
  color: black;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
}

.btn-danger {
  color: red;
  margin: 50px;
}

.player-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px
}

.party-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px
}

.createPartyForm {
  display: flex;
  flex-direction: column;
  width: 50vh;
  margin-left: 30vh;
}

.addParty {
  text-align: center;
  align-items: center;
}

.createPlayerForm {
  display: flex;
  flex-direction: column;
  width: 50vh;
  margin-left: 30vh;
}

.updatePartyForm {
  display: flex;
  flex-direction: column;
  width: 50vh;
  margin-left: 30vh;
}