@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.App {
  text-align: center;
}

.pageTitle {
  font-family: 'MedievalSharp', cursive;
  font-weight: 50;
}

body {
  background-image: url(https://wallpaperaccess.com/full/2796640.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 10px;
}

.navLink {
  margin: 10px;
  font-size: calc(5px + 1vmin);
  color: white;
}

.partyCard {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 1vh;
  border: black solid 2px;
  color: black;
}

.playerCard {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 1vh;
  border: black solid 2px;
  color: black;
}

.btn-danger {
  color: red
}